<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Agriculture</title>
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}" >
    <!-- fonts icons -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <!-- auto carousel-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<title>API Example</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        body{
            background-image: url(far2.jpg);
            background-size: cover;
        }
        .design{
            display: flex;
            justify-content: center;
            align-items: center;
            /* margin-top: 10%; */
            margin-top: -2%;
            
        }
iframe{
    width:600px;
    /* height:100%; */
}
    </style>
</head>
    <body  style="background-color: #badcdf;">

        <section class="nbdy">
          <div class="navigation" >
            <input type="checkbox" name="">
            <span></span>
            <span></span>
            <u1 class="menu">
              <li><a href="/home">Home</a></li>
              <li><a href="/disease">Disease</a></li>
              <li><a href="#">Map</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="/help">ContactUs</a></li>
        
            </u1>
          </div>
        
        </section>
        <br><br><br>   
   <div class="design"> 
       <iframe
    allow="microphone;"
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/fb7dea43-8264-464d-88be-5a796e642f1f">
    </iframe>

</div>
</body>
</html>